* {
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1rem;
    line-height:1.5;
    color:white;
    overflow-x:hidden;
}

.video-header {
    height:100vh;
    display:flex;
    align-items:center;
    color:#fff;
}

.container {
    max-width:960px;
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
    text-align:center;
}

.fullscreen-video-wrap {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video{
    min-width: 100%;
    min-height: 100%;
}

.header-overlay {
    height:100vh;
    width:100vw;
    position:absolute;
    top:0;
    left:0;
    background: rgb(106, 129, 93);
    z-index:1;
    opacity:0.30;
    
}

.header-content {
    z-index: 2;
}

.header-content h1 {
    font-size:50px;
    margin-bottom:0; 
    font-family: 'Oleo Script', cursive; 
}

.header-content p {
    font-size:1.5rem;
    display:block;
    padding-bottom:2rem;
    font-family:'Fjalla One', sans-serif;
}


.navbar {
    background-color: transparent !important;
    z-index:3;
    font-family: 'Fjalla One', sans-serif;
}

.navbar-brand {
    font-family:'Oleo Script', cursive;
    font-size: 19px;
}


.section {
    padding: 20px 0px;
}

.contribution {
    background:#333;
    color:white;
}

.about{
    background:#333;
    color:white;
    margin-top:-60px;
}

@media(max-width:960px){
    .container{
        padding-right:3rem;
        padding-left:3rem;
    }
}

.maps{
    height: 250px;
    width: auto;

}

#card0,#card1,#card2
 {
    height: 250px;
    
}
#card-head0, #card-head1, #card-head2 {
    white-space: nowrap;
    text-align: center;
  font-family: 'Bowlby One SC', cursive;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background:white;
  font-size: 23px;
}

@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

#card-body0, #card-body1, #card-body2 {
    white-space: nowrap;
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background:white;
    font-size: 15px;
    }
